.about_client {
    padding: 70px 0;
    background-color: #f3f3f3;
}


.about_client_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company img {
    width: 70%;
}