:root {
	--primary: #000;
	--secondary: #fff;
}

/* Back to top button */

.back-to-top {
	position: fixed;
	display: block;
	background: #1853d2;
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
	z-index: 11;
}

.back-to-top i {
	padding-top: 12px;
	color: #fff;
}

.navbar{
    width: auto !important;
}
/* Preloder */

#top,
#top1 {
	background-color: #fff;
	min-height: 40px;
}

#top-links,
#top-links1 {
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}

#top-links ul,
#top-links1 ul {
	padding: 20px 0px 13px;
	margin: 0px;
	line-height: 18px;
}

#top-links ul li,
#top-links1 ul li {
	padding: 0px 0 0 17px;
}

#top-links ul li:first-child,
#top-links1 ul li:first-child {
	padding: 0px 0 0 0px;
}

#top-links ul li:last-child a,
#top-links1 ul li:last-child a {
	border-right: 0;
	padding-right: 0;
}

#top-links .button li:first-child a:first-child,
#top-links1 .button li:first-child a:first-child {
	border-right: 0;
}

.login-reg span {
	margin-right: 10px;
	font-weight: 500;
}

#top-links ul li a,
#top-links1 ul li a {
	color: #000;
	font-size: 14px;
	border-right: 1px solid #000;
	padding-right: 17px;
	vertical-align: middle;
	font-weight: 400;
}
#top-links ul li a,
#top-links1 ul li.login-reg a {
	padding-right: 10px;
}

#top-links ul li a i,
#top-links1 ul li a i {
	margin-right: 8px;
}

#form-currency .btn-link,
#form-language .btn-link {
	padding: 0;
	color: #000;
	font-size: 14px;
	border: none;
	border-right: 1px solid #000;
	padding-right: 17px;
	border-radius: 0;
}

#form-currency .btn-link {
	border-right: 0;
}

#form-currency .dropdown-menu > li > .btn-link,
#form-language .dropdown-menu > li > a {
	border-right: 0px solid #000;
	padding-right: 0;
}

#form-currency .dropdown-menu > li {
	padding: 0px 0 0 0px;
}

#form-language .dropdown-menu > li > a {
	display: block;
	padding: 3px 3px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}

.btn-group .dropdown-menu {
	padding: 5px !important;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	background-color: #f5f5f5;
	color: #010101;
}

/*--------------------
[ Header / header ]
---------------------*/

.site-header {
	margin: 30px 0 35px;
}

#logo a > img {
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

#header .button-login .btn-default {
	background: rgb(22, 21, 21);
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 12px 21px;
	border-radius: 0px;
	border: none;
	line-height: 16px;
	margin-right: 14px;
}

#header .button-login .btn-default:active:hover {
	color: #fff;
	background: #fcb714;
}

#header .button-login .btn-primary {
	background: transparent;
	border: none;
	color: #09357a;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	margin-top: 0;
	width: auto;
	height: auto;
	vertical-align: sub;
}
#header .button-login .btn-primary i {
	color: #09357a;
	font-size: 30px;
	vertical-align: inherit;
}
#header .button-login .btn-primary:hover,
#header .button-login .btn-primary:active:hover,
#header .button-login .btn-primary:focus,
#header .button-login .btn-primary:active:focus {
	background: transparent;
	color: #413f4d;
}

#header .social-icon {
	padding: 8px 0 0 0;
}

#header .social-icon ul {
	margin: 0;
}

#header .social-icon ul li {
	padding: 3px 8px 5px 7px;
	background: transparent;
	line-height: 16px;
	margin-right: 4px;
}

#header .social-icon ul li a {
	color: #000;
	text-decoration: none;
	font-size: 24px;
	vertical-align: middle;
}

/*--------------------------------- 
[ menu / #menu ]
----------------------------------- */
.list-inline {
	display: flex;
}

.navbar {
	position: sticky;
}

.nav-links {
	text-decoration-color: #fff;
	text-align-last: center !important;
	word-wrap: break-word;
}

/*----------------------------
[ Sliders ]
----------------------------- */
.welcome-image-area5 {
	position: relative;
	height: 100%;
	background: url(../assets/img/flightsbg.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.display-table {
	display: table;
	width: 100%;
	height: auto;
}

.display-table-cell5 {
	display: table-cell;
	width: 880px;
	vertical-align: baseline;
}

.display-table-cell5 .header-text h1.cursive {
	color: #fff;
	font-size: 80px;
	font-weight: 700;
	text-transform: capitalize;
	text-align: left;
	position: relative;
	word-wrap: break-word;
	top: 120px;
	max-width: 600px;
	text-shadow: 2px 2px 18px #000;
	font-family: 'Courgette', cursive;
}

.display-table-cell5 .header-text h2.rubike {
	color: #fff;
	font-weight: 500;
	text-transform: inherit;
	text-align: left;
	position: relative;
	word-wrap: break-word;
	top: 150px;
	max-width: 650px;
	text-shadow: 2px 2px 18px #000;
	font-family: 'Roboto', sans-serif;
}
.display-table-cell5 .header-text h3.rubike {
	font-family: 'Rubik', sans-serif;
	font-size: 36px;
	line-height: 2;
}

.form-control {
	display: block;
	border: 0px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #bbb;
	background-color: transparent;
	background-image: none;
	border-radius: 0px;
	box-shadow: none;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background: #fff;
	-webkit-transition: .3s;
	transition: .3s;
	font-family: "Roboto", sans-serif;
}
.form-control::placeholder {
	color: #bbb;
}

.form-control:focus {
	border-color: #62ac1e;
	outline: 0;
	box-shadow: none;
}

.slide-detail {
	position: absolute;
    right: 0;
	z-index: 2;
	top: 20%;
}

.slide-detail form {
	background: #fff;
    position: relative;
	min-height: 190px;
	padding: 39px 30px 15px 30px;
	margin-left: 95px;
}

.slide-detail form label {
	font-size: 16px;
	color: #3c3c3c;
	margin: 0 0 30px;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}

.slide-detail form input {
	border-radius: 0 !important;
	border: 1px solid #e3ebee;
	color: #999999;
	background-color: #f4f4f4;
	height: 50px;
	font-family: 'Roboto', serif;
	font-size: 16px;
	font-weight: 500;
	padding: 0 10px;
}

.slide-detail form .btn-primary {
	background: #fcb714;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	height: 40px;
	border: none;
}

.form-icons {
	position: relative;
}
.form-icons span {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 20px;
	cursor: pointer;
}

.placetop {
    margin: 80px 0;
}

.places h1 {
    margin: 0 0 30px;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.places p {
    margin: 0 0 30px;
    font-size: 14px;
    color: #686868;
    text-align: center;
    font-family: 'Rubik', serif;
    position: relative;
}

.places p:after {
    border-top: 5px solid #FCB714;
    position: absolute;
    left: 0;
    top: 48px;
    content: "";
    width: 70px;
    margin: 0 auto;
    right: 0;
}

.places hr {
    width: 170px;
    border-top: 1px solid #ccc;
    margin-bottom: 60px;
}

.title-separator-outer {
    overflow: hidden;
    color: #62ac1e;
}

.title-separator {
    display: inline-block;
    height: 3px;
    width: 80px;
    margin-bottom: 10px;
    position: relative;
}
.section-title .title-separator-outer.inline_btm{
    width:100%;
    height: 6px;
    border-bottom: 2px solid #ddd;

}
.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: "Rubik" , sans-serif;
    display: inline-block;
}

.section-title .inline_btm{
    width: 100%;
    height: 6px;
    border-bottom: 2px solid #ddd;
}

.section-padding {
    padding: 70px 0px;
}

.title-separator.style-liner {
    width: 70px;
    height: 6px
}

.title-separator[class*="style-"]:after,
.title-separator[class*="style-"]:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 70px;
    width: 100%;
    height: 2px;
    background: #ddd;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title-separator[class*="style-"]:before {
    left: auto;
    right: 70px;
}

.gallery-menu button {
    padding: 8px 20px;
    border: transparent;
    margin-bottom: 60px;
    background-color: transparent;
    font-size: 24px;
    font-weight: 500;
    color: #777;
}

.gallery-menu button.active,
.gallery-menu button:hover {
    background-color: transparent;
    color: #62ac1e
}

.gallery-items5 .grid-item{
    margin-bottom: 30px;
}

.product-thumb {
    margin-bottom: 0px;
}

.product-thumb .image {
    position: relative;
}

.product-thumb .image .hoverbox {
    position: absolute;
    background: linear-gradient( yellow , red);
    text-align: center;
    opacity: 0;
    top: 0;
}

.product-thumb .hoverbox .icon_plus {
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    cursor: pointer;
}

.product-thumb:hover .hoverbox {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;
    opacity: .6;
}

.product-thumb .image .matter {
    position: absolute;
    opacity: 1;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

.product-thumb .image .matter h2 {
    font-size: 24px;
    margin: 0 0 0 24px;
}

.product-thumb .image .matter p {
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 0 25px 24px;
    text-transform: capitalize;
    font-weight: 500;
}

.product-thumb .image .matter ul {
    margin: 0;
    border-top: 1px solid #E5E5E5;
}

.product-thumb .image .matter ul li:first-child {
    border-right: 1px solid #E5E5E5;
}

.product-thumb .image .matter ul li {
    padding: 12px 0px;
    width: 52%;
    text-align: center;
    line-height: 12px;
}

.product-thumb .image .matter ul li a {
    color: #fff;
    font-size: 14px;
}

.product-thumb .caption {
    border: 1px solid #E5E5E5;
	border-top: 0;
	height: auto;
	width: 370px;
}

.product-thumb .caption .inner {
	padding: 30px 36px;
    border-bottom: 1px solid #E5E5E5;
}

.product-thumb .caption .inner img {
    float: left;
    margin-right: 18px;
}

.product-thumb .caption .inner h4 {
    font-size: 24px;
    margin: 0 0 8px;
}

.product-thumb .caption .inner span {
    font-size: 16px;
    line-height: 12px;
    font-family: 'Rubik', serif;
    color: #9A9A9A;
    margin-right: 50px;
}

.product-thumb .caption .inner i {
    color: #66a91e;
    font-size: 13px;
}

.product-thumb .caption .inner span.fa-map-marker {
    color: #66a91e;
    font-size: 40px;
    float: left;
    font-family: FontAwesome;
    margin-right: 10px;
    line-height: 40px;
}

.hoverbox span{
    position: absolute;
    right: 25px;
    top: 25px;
}
.hoverbox .venobox i {
    color: #ffffff;
    font-size: 30px;
    text-align: right;
}

/* Contacts */

.map1 iframe {
    width: 100%;
    height: 350px;
}

.contact-area {
    background: #fff;
}

.contact-sec {
    background: url(../assets/img/contactsecbg.png) no-repeat;
    background-size: cover;
}

.modal-header h2 {
    margin: 0;
}

.contact-icon {
    float: left;
    margin-bottom: 30px;
    margin-right: 9px;
}

.contact-icon i {
    font-size: 40px;
    color: #000;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

/* .single-contact:hover .contact-icon i {}

.single-contact {} */

.single-contact h2 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
}

.contact-form {
    margin-top: 30px;
}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #bbb;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    font-family:"Roboto", sans-serif;
}
.form-control::placeholder{
    color: #bbb;
}
.welcome-image-area .form-control::placeholder{
    color: #bbb;
}
.welcome-image-area .form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 50px!important;
    font-size: 16px;
    line-height: 1.42857143;
    color: #bbb;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 20px;
    padding: 10px 110px 14px 50px;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    font-family:"Roboto", sans-serif;
}
.form-control:focus {
    border-color: #62ac1e;
    outline: 0;
    box-shadow: none;
}

.contact-form input[type='submit'] {
    display: inline-block;
    color: #fff;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid #62ac1e;
    background-color: #62ac1e;
    border-radius: 0px;
    font-weight: 700;
    float: left;
    font-family: "Raleway", sans-serif;
}
.contact-form input[type='submit']:hover{
    background-color: #fff;
    color: #62ac1e;
}
.text-right .actions{
    float: right;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.contact-socials ul li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
.contact-socials ul li:hover a{
    color: #62ac1e;
}
.contact-socials ul li a {
    color: #777;
    font-size: 24px;
}

.contact-icon-box>i {
    text-align: center;
}

.contact-icon-box>i {
    display: block;
    width: 70px;
    float: left;
    line-height: 70px;
    color: #fff;
    font-size: 3em;
    margin-right: 15px;
}

.contact-icon-box {
    height: 70px;
    background: #fff;
    line-height: 70px;
    text-transform: none;
}

.contact-icon-box .description {
    line-height: 1.6em;
    padding: 14px 15px 0 0;
}




/* Clients Reviews */
#testimonials {
	padding: 30px 0;
	background-image: url("../assets/img/clientreview/reviewbg.jpg");
	background-size: cover;
	background-position: center;
  }

  #testimonials .section-title h2{
	  color: #fff;
  }
  
  #testimonials .clients-item {
	text-align: center;
  }
  
  #testimonials .clients-item .testimonial-img {
	width: 90px;
	border-radius: 50%;
	border: 4px solid #fff;
	margin: 0 auto;
  }
  
  #testimonials .clients-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: rgb(252, 252, 252);
  }
  
  #testimonials .clients-item h4 {
	font-size: 14px;
	color: rgb(207, 206, 206);
	margin: 0;
  }
  
  #testimonials .clients-item .quote-sign-left {
	margin-top: -15px;
	padding-right: 10px;
	display: inline-block;
	width: 37px;
  }
  
  #testimonials .clients-item .quote-sign-right {
	margin-bottom: -15px;
	padding-left: 10px;
	display: inline-block;
	max-width: 100%;
	width: 37px;
  }
  
  #testimonials .clients-item p {
	font-style: italic;
	color: #fff;
	margin: 0 auto 15px auto;
  }
  
  #testimonials .owl-nav,
  #testimonials .owl-dots {
	margin-top: 5px;
	text-align: center;
  }
  
  #testimonials .owl-dot {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ddd;
  }
  
  #testimonials .owl-dot.active {
	background-color: #50d8af;
  }

  @media (min-width: 300px) and (max-width: 997px){
	.container-fluid{
		padding: 0px !important;
		width: 100% !important;
		height: auto;
	}
	.slide-detail form {
		min-height: auto;
	}
	.product-thumb .caption {
		width: 100%;
	}
  }