.tour_section {
    padding: 70px 0;
}

.tour_section h2 {
    text-align: center;
    font-size: 240%;
    margin-bottom: 15px;
}

.line_separator {
    width: 160px;
    border-bottom: 1px solid #cfcfcf;
    display: block;
    margin: 0 auto;
}

.line_separator::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #27ae60;
    margin: 0 auto;
}

.tour_tour_nav {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 40px 0;
}

.tour_tour_nav li {
    padding: 0 15px;
}

.tour_tour_nav a {
    text-decoration: none;
    font-size: 180%;
    color: #6e6e6e;
}

.tour_tour_nav a:hover {
    color: #27ae60;
}

.tour_grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.tour_content {
    position: relative;
}

.tour_content img {
    width: 100%;
}

.img_background {
    width: 100%;
    height: 100%;
    background: linear-gradient(#fbc53188, #da2a4798);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.more_info {
    position: absolute;
    top: 40%;
    left: 31%;
    opacity: 0;
} 

.tour_content:hover .img_background {
    opacity: 1;
    transition: 1s;
}

.tour_content:hover .more_info {
    opacity: 1;
    transition: 1s;
}

.more_info h4 {
    color: #fff;
    font-size: 120%;
    text-transform: uppercase;
}

.more_info a {
    text-decoration: none;
    font-size: 105%;
    color: #fff;

}


@media (max-width: 414px) {
    .tour_tour_nav {
        padding: 40px 30px;
        flex-wrap: wrap;
    }

    .tour_tour_nav li {
        padding: 0 10px;
    }
}    

